Is there a convention for ABNF productions?

The current draft is similar to RFC 3339 in defining productions before they are used, but I personally find that hard to read because it is necessary to scan down through almost all of them before finding the `date-time-ext` entry point and then going backwards to understand it, a process that applies recursively to every sub-production. My preference would be to instead define `date-time-ext` first, followed by the productions referenced by it, as seen in e.g. [RFC 7231](https://www.rfc-editor.org/rfc/rfc7231.html#section-5.3.2) and [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986#section-3.3).

I'm with you on this -- I prefer my ABNF top-down, with the first rule being the entry point (exported grammar).
We should consciously decide to be different from rfc3339, though.